body{
    margin: 0;
    padding: 0;
    background-image: url("../images/nature.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

img {
    border-radius: 50%;
    width: 200px;
    border: solid 10px #997929;
    filter: drop-shadow(2px 4px 6px black);
    margin-top: 10px;
}

h1 {
    font-family: 'MonteCarlo', cursive;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 0 0 30px 0;
    padding: 0;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    margin: 20px 0 10px 0;
    padding: 0;
}

p {
    font-family: 'Roboto Flex', sans-serif;
}

.container-countdown {
    display: flex;
    justify-content: space-around;
}
.count-item {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.count-item span {   
    font-size: 50px;           
}

.count-item p {   
    color: #aaa;
    font-size: 20px;        
}


